In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [23]:
column_names = ["A1", "A2","A3","A4", "A5", "A6", "A7", "A8", "A9", "A10", "A11", "A12", "A13", "A14", "A15","A16"]
df=pd.read_csv("C:/Users/HP/Downloads/archive (3)/dataset/crxdata.csv",header=None,names=column_names)
display(df.head())
display(df.info())

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      690 non-null    object
 1   A2      690 non-null    object
 2   A3      690 non-null    float64
 3   A4      690 non-null    object
 4   A5      690 non-null    object
 5   A6      690 non-null    object
 6   A7      690 non-null    object
 7   A8      690 non-null    float64
 8   A9      690 non-null    object
 9   A10     690 non-null    object
 10  A11     690 non-null    int64
 11  A12     690 non-null    object
 12  A13     690 non-null    object
 13  A14     690 non-null    object
 14  A15     690 non-null    int64
 15  A16     690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

None

In [24]:
display(df.isna().sum())

A1     0
A2     0
A3     0
A4     0
A5     0
A6     0
A7     0
A8     0
A9     0
A10    0
A11    0
A12    0
A13    0
A14    0
A15    0
A16    0
dtype: int64

In [25]:
#no value is missing

In [26]:
df['A2']=pd.to_numeric(df['A2'],errors='coerce')
df=df.drop('A14',axis=1)

In [31]:
df=df.replace("?",np.NaN)
for col in df:
    if df[col].dtypes=='object':
        df[col]=df[col].fillna(df[col].value_counts().index[0])
    else:
        df[col]=df[col].fillna(df[col].mean())
print(df.isnull().sum())

A1     0
A2     0
A3     0
A4     0
A5     0
A6     0
A7     0
A8     0
A9     0
A10    0
A11    0
A12    0
A13    0
A15    0
A16    0
dtype: int64

In [32]:
df['A1'] = df['A1'].apply(lambda x: 0 if x=='a' else 1)
df['A9'] = df['A9'].apply(lambda x: 0 if x=='t' else 1)
df['A10'] = df['A10'].apply(lambda x: 0 if x=='t' else 1)
df['A12'] = df['A12'].apply(lambda x: 0 if x=='t' else 1)
df['A16'] = df['A16'].apply(lambda x: 0 if x=='+' else 1)
df = pd.get_dummies(df)
display(df)

,A1,A2,A3,A8,A9,A10,A11,A12,A15,A16,...,A7_ff,A7_h,A7_j,A7_n,A7_o,A7_v,A7_z,A13_g,A13_p,A13_s
0,1,30.83,0.000,1.25,0,0,1,1,0,0,...,0,0,0,0,0,1,0,1,0,0
1,0,58.67,4.460,3.04,0,0,6,1,560,0,...,0,1,0,0,0,0,0,1,0,0
2,0,24.50,0.500,1.50,0,1,0,1,824,0,...,0,1,0,0,0,0,0,1,0,0
3,1,27.83,1.540,3.75,0,0,5,0,3,0,...,0,0,0,0,0,1,0,1,0,0
4,1,20.17,5.625,1.71,0,1,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,1,21.08,10.085,1.25,1,1,0,1,0,1,...,0,1,0,0,0,0,0,1,0,0
686,0,22.67,0.750,2.00,1,0,2,0,394,1,...,0,0,0,0,0,1,0,1,0,0
687,0,25.25,13.500,2.00,1,0,1,0,1,1,...,1,0,0,0,0,0,0,1,0,0
688,1,17.92,0.205,0.04,1,1,0,1,750,1,...,0,0,0,0,0,1,0,1,0,0
689,1,35.00,3.375,8.29,1,1,0,0,0,1,...,0,1,0,0,0,0,0,1,0,0

In [42]:
from sklearn.model_selection import train_test_split

Y=df['A16'].values
X=df.drop(['A16'],axis=1).values
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.33,random_state=42)

In [45]:
from sklearn.preprocessing import MinMaxScaler

scaler=MinMaxScaler()
rescaledX_train=scaler.fit_transform(X_train)
rescaledX_test=scaler.transform(X_test)

In [47]:
from sklearn.linear_model import LogisticRegression

logres=LogisticRegression()

logres.fit(rescaledX_train,Y_train)

LogisticRegression()

In [49]:
from sklearn.metrics import confusion_matrix

y_pred=logres.predict(rescaledX_test)

print("Accuracy of the current model is :",logres.score(rescaledX_test,Y_test))

print("confusion matrix :\n",confusion_matrix(Y_test,y_pred))

Accuracy of the current model is : 0.8464912280701754
confusion matrix :
 [[ 93  10]
 [ 25 100]]

In [50]:
from sklearn.model_selection import GridSearchCV

tol=[0.01,0.001,0.0001]
max_iter=[100,150,200]

param_grid=dict(tol=tol,max_iter=max_iter)

In [56]:
grid_model=GridSearchCV(estimator=logres,param_grid=param_grid,cv=5)

grid_model_result=grid_model.fit(rescaledX_train,Y_train)

best_score,best_param=grid_model_result.best_score_,grid_model_result.best_params_

best_model = grid_model_result.best_estimator_
best_model.predict(rescaledX_test)

print("Accuracy of logistic regression classifier: ", best_model.score(rescaledX_test, Y_test))

Accuracy of logistic regression classifier:  0.8464912280701754